@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Unlike Controller Actions, AuthProxy is a library developed to provide authorization on objects.<br>
        Thanks to AuthProxy, you can add user authorization to the object itself or its methods..
    </p>
    <hr/>
    <h2>Get Started</h2>
    <div class="row">

    </div>
</div>